<div class="row">
    <div class="col col-lg-6">
        <button class="btn btn-outline-secondary"><i class="fas fa-bars"></i></button>
        <button class="btn btn-success">
            <i class="far fa-file"></i>
            Add file
        </button>
        <button class="btn btn-primary">
            <i class="far fa-folder-open"></i>
            Add folder
        </button>
        <button class="btn btn-danger" disabled>
            <i class="far fa-check-square"></i>
            Delete selected file(s)
        </button>
    </div>
</div>