<div class="row">
    <div class="col col-lg-6">
        <button class="btn btn-outline-secondary collapsed" data-bs-toggle="collapse" data-bs-target="#fileStructure" aria-expanded="true" aria-controls="fileStructure"><i class="fas fa-bars"></i></button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addFileModal">
            <i class="far fa-file"></i>
            New file
        </button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFolderModal">
            <i class="far fa-folder-open"></i>
            New folder
        </button>
        <button class="btn btn-danger" disabled>
            <i class="far fa-check-square"></i>
            Delete selected file(s)
        </button>
    </div>
</div>
