{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit File</h1>
    {{ include('file/_update.html.twig', {'button_label': 'Update'}) }}

    <div class="row">
        <div class="col-md-6">
                <a href="{{ path('file_show', {id: file.id}) }}" class="btn btn-primary">Retour</a>
        </div>
        <div class="col-md-6">
            {{ include('file/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
